[submodule "backend"]
	path = backend
	url = https://github.com/Inoveon/i9-team-backend.git

[submodule "frontend"]
	path = frontend
	url = https://github.com/Inoveon/i9-team-frontend.git

[submodule "mobile"]
	path = mobile
	url = https://github.com/Inoveon/i9-team-mobile.git
[submodule "tools"]
	path = tools
	url = https://github.com/Inoveon/i9-team-tools.git
